
  .i-row {
    display: flex;
  }
  
  .i-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i-vcenter {
    display: flex;
    align-items: center;
  }
  .i-between {
    display: flex;
    justify-content: space-between;
  }
  .i-around {
    display: flex;
    justify-content: space-around;
  }
  .i-end {
    display: flex;
    justify-content: flex-end;
  }
  .i-start {
    display: flex;
    justify-content: flex-start;
  }
  .i-column {
    display: flex;
    flex-direction: column;
  }
  .i-row-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .i-row-nowrap {
    display: flex;
    flex-wrap: nowrap;
  }
  .i-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
  
  @for $i from -20 through 20 {
    .i-mtop-#{$i} {
      margin-top: $i + px;
    }
  }
  
  @for $i from 1 through 20 {
    .i-height-#{$i} {
      height: $i * 10 + px;
    }
  }
  @for $i from 1 through 20 {
    .i-width-#{$i} {
      width: $i * 10 + px;
    }
  }


  .el-input__inner {
    transition: all 1s !important;
    background: #f1f2f3 !important;
  }

  @keyframes SlideInRight {
    0% {
      left: calc((100% / 2 - 200px - 200px));
    }
    100% {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes SlideInLeft {
    0% {
      left: 0;
    }
    100% {
      left: calc((100% / 2 - 200px - 200px));
      transform: translate3d(0, 0, 0);
    }
  }

  .moveRight {
    animation: SlideInRight 0.2s linear;
  }

  .moveLeft {
    animation: SlideInRight 0.2s linear;
  }